  /* ================ BOTOES ============== */

.blog-buttongeral{
    color: #465EFF!important;
	border-radius: 80px;
}
  
.blog-buttongeral:hover{
	background-color: #465EFF;
	border-radius: 80px;
	color: #FFF!important;
}
