/* ============= HEADER ============ */

.blog-header{
	background-color: #FCFC30!important;
}
  
.blog-logo{
	max-width: 68px!important;
}

.blog-linha_preta_vertical{
  height: 60%;
  background-color: #000;
  width: 1px;
}

.blog-titulo_nav_bar {
	color: #465EFF;
	font-size: 24px;
	margin-left: 10px;
	font-weight: bold;
}

  /* ================ BOTOES ============== */

.blog-buttongeral{
    color: #465EFF!important;
	border-radius: 80px;
}
  
.blog-buttongeral:hover{
	background-color: #465EFF;
	border-radius: 80px;
	color: #FFF!important;
}
  
/* ================= FOOTER ================ */


.blog-footer {
	position: relative; 
	bottom: 0; 
	width: 100%; 
	display: flex; 
	flex-direction: column; 
	margin-top: 50px; 
  }
  
  .blog-footer-amarelo {
	background-color: #fcfc30; /* Cor de fundo amarela */
	width: 100%; /* Largura total */
	height: 50px; /* Altura da parte amarela */
	display: flex; /* Usar flexbox para organização */
	justify-content: space-between; /* Espaçamento entre os elementos */
	align-items: center; /* Centralizar os itens verticalmente */
	padding: 0 5%; /* Espaçamento interno */
  }
  .blog-footer-azul {
	background-color: #465EFF!important;
	width: 100%; 
	height: 202px; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	color: #fff; 
  }
  /* Estilo para o texto */
  .blog-texto-footer-location {
	color: #000; 
	font-weight: bold; 
	font-size: 14px; 
	text-align: left; 
	margin-left: 5%;
  }

  .blog-texto-footer-priv{
	margin-left: 05%;
	background: transparent;
	margin-bottom: 22%;
  }
  .blog-texto-footer-help{
	background: transparent;
	margin-left: 05%;
	margin-bottom: 22%;
  }
  .blog-footer-button-group {
	display: flex;
	height: 0;
	align-items: center;
  }
  .blog-footer-column{
	display: inline;
	margin-right: 10%;
  }
  .blog-footer-column2{
	display: inline;
	margin-right: 10%;
  }
  .blog-footer-column3{
      display: inline;
	  margin-right: 10%;
  }
  .p-title-text{
	font-size: 16px;
	line-height: 18.16px;
  }
  .p-sub-text{
	font-size: 20px;
	line-height: 23.2px;
  }
  
  /* ================= SVG ================ */
  .bb-icon-blog {
	width: 50px; 
	height: 50px;
	margin-left: -12.5%;
	margin-right: 7.5%;
  } 

  .blog-eye-footer{
	margin-bottom: 20%;
	margin-left: 250%;
	width: 30px;
	height: 30px;	
  }

  .blog-help-footer{
	margin-bottom: 20%;
	margin-left: 365%;
    width: 30px; 
	height: 30px;
  }

  .acess-icon-blog{
      width: 108px;
	  height: 45px;
  }