.background{
	height: 80vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	height: 75%;
	width: 80%;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* ========= SEÇÃO 1 ========*/

.secao1{
    height: 100%;
    width: 32%;
}
.img-secao1{
	border-radius: 2rem;
    background-image: linear-gradient(to top, #FABCC7 0%, rgba(255,255,255,0) 35%), url('@/images/pessoa1.jpg');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	justify-content: end;

	transition: .4s
}
.titulo-secao1{
	font-size: 2rem;
	font-weight: bold;
	color: #000;
	margin-left: 1rem;
}
.texto-secao1{
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 1rem;
	color: #000;
}
.img-secao1:hover {
    transform: scale(1.05);
}

/* ========= SEÇÃO 2 ========*/
.secao2{
	height: 100%;
	width: 32%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.img-secao2-1{
	border-radius: 2rem;
    background-image: linear-gradient(to top, #E5EC9F 0%, rgba(255,255,255,0) 35%), url('@/images/pessoa3.jpg');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 48%;
    width: 100%;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	justify-content: end;

	transition: .4s
}
.titulo-secao2-1{
	font-size: 2rem;
	font-weight: bold;
	color: #000;
	margin-left: 1rem;
}
.texto-secao2-1{
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 1rem;
	color: #000;
}
.img-secao2-1:hover {
    transform: scale(1.05);
}

.img-secao2-2{
	border-radius: 2rem;
    background-image: linear-gradient(to top, #009BDD 0%, rgba(255,255,255,0) 60%), url('@/images/pessoa5.jpeg');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 48%;
    width: 100%;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	justify-content: end;

	transition: .4s
}
.titulo-secao2-2{
	font-size: 2rem;
	font-weight: bold;
	color: #000;
	margin-left: 1rem;
}
.texto-secao2-2{
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 1rem;
	color: #000;
}
.img-secao2-2:hover {
    transform: scale(1.05);
}


/* ========= SEÇÃO 3 ========*/
.secao3{
    height: 100%;
    width: 32%;
}
.img-secao3{
	border-radius: 2rem;
    background-image: linear-gradient(to top, #FEC401 0%, rgba(255,255,255,0) 35%), url('@/images/pessoa6.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	justify-content: end;

	transition: .4s
}
.titulo-secao3{
	font-size: 2rem;
	font-weight: bold;
	color: #000;
	margin-left: 1rem;
}
.texto-secao3{
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 1rem;
	color: #000;
}
.img-secao3:hover {
    transform: scale(1.05);
}