/* ============= TEXTO ============*/

.text_h4{
  margin-top: 20%;
  color: #FFF!important;
}

/* ================ BOTOES ============== */

.line-buttongeral{
  color: #465EFF!important;
  border-radius: 80px;
}

.line-buttongeral:hover{
  background-color: #465EFF;
  color: #FFF!important;
  border-radius: 80px;
}

.line-buttonbeforeafter{
  max-width: 60%;
  max-height: none!important;
  height: 50px!important;
  margin-top: 30%;
  margin-bottom: 10%;
  font-size: 14px!important;
  font-family: 'BancoDoBrasilTextos-Bold' , sans-serif;
  align-self: center;
  justify-content: center;
  background-color: #FCFC30!important;
  margin-left: 20%;
  color: #465EFF!important;
} 

/* =================== BODY(CONTAINER 1) ================== */

.line-container-main {
  background-color: #ffffff; /* Ou a cor de fundo desejada */
  height: 100vh; /* Altura total da tela */
  overflow: hidden;
}

.line-container_card_topo{
  
 
  margin-top: 250px!important;
  height: 400px; 
  max-width: 51.5%;
  background: none;
  font-size: 32px;
  font-weight: bold;
  margin-right: 50%;
}

.line-card_filho_topo{
  word-wrap: break-word!important;
  word-break: break-all!important;
  height: 242.36px;
  
}

.line-subtitle_card{
  font-weight: bold;
  font-size: 24px;
  color: #465EFF;
}

.line-div_maintext{
  margin-right: 0;
  color: #FCFC30 !important;
  font-style: bold;
  height: 190px;

}
.line-div_secondtext{
  margin-right: 0;
  color: #FCFC30 !important;
  font-style: bold;
}
.line-title-zero{
  color: #FCFC30!important;
  font-size: 48px !important;
  font-weight: 700 !important;
  margin-left: 10%;
  text-align: left;
  margin-top: 20%;
  font-weight: bold;
  font-family: 'BancoDoBrasilTextos-Regular', sans-serif;
}
.line-subtitle-zero{
  margin-top: 5%;
  margin-left: 10%;
  text-align: left;
  font-size: 20px;
  font-family: 'BancoDoBrasilTextos-Medium', sans-serif;
}

.line-texto-emprestimo{
  color: #FCFC30;
  font-size: 24px;
  font-weight: bold;
}
.line-textfield{

  background-color: #ffffff!important;
  color: #000;
  height: 0%;
  margin-left: 10%;
  width: 70%;
  margin-top: -3%;
}
.line-div-form-ratio{
  display: flex; /* Flexbox para controlar o layout */
  flex-direction: column; /* Alinhar os itens verticalmente */
  gap: 24px; /* Espaçamento entre os elementos */
  margin-top: 40px!important;
}
.line-container_form{
  margin-top: 17.5%;
}

.line-lado_esquerdo {
  background-image: url('@/images/Rayssa_2.png');
  background-size: cover;
  background-color: #f4f4f4; /* Apenas para testar o layout, pode remover */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0!important;
  max-width: auto;
}

.line-lado_direito {
  background-color: #465EFF !important;
  color: #ffffff !important;
  display: flex;
  flex-direction: column; /* Organiza os itens verticalmente */
  align-items: center;
  justify-content: center;
  max-height: 800px!important; /* Altura máxima fixa */
  height: 100%!important; /* Preenche o espaço disponível */
  min-height: 800px!important;
  overflow-y: auto; /* Adiciona rolagem se o conteúdo exceder o limite */
  padding: 20px; /* Espaçamento interno opcional */
  box-sizing: border-box; /* Inclui padding na altura total */
}
.line-form_def_linhas{
  color: white!important;
  background-color: #465EFF!important;
  width: 100%; /* Porfavor sabinão, altera aqui igual cê fez com o footer e o header*/
  height: 100%;
}

.line-title-container {
  display: flex; /* Flexbox para alinhar itens horizontalmente */
  align-items: center;  
  gap: 10px; /* Espaçamento entre os itens */
}

.line-col-arrow {
  display: flex;
  justify-content: flex-start; /* Seta alinhada à esquerda */
  align-items: center;
  padding-left: 50px!important; /* Ajuste conforme necessário */
}

/* Coluna do título */
.line-col-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px!important;
  text-align: left;
}

.line-title-form{
  margin-top: 5%;
  display: flex;
  gap: 10px;
  font-family: 'BancoDoBrasilTextos-Medium', sans-serif;
  font-size: 35px!important;
  text-align: justify;
  color: #FCFC30!important;
  margin-bottom: 5%!important;
}
.line-title-input{
  margin-top: 5%;

  margin-left: 10%;
  display: flex;
  gap: 10px;
  font-family: 'BancoDoBrasilTextos-Medium', sans-serif;
  font-size: 20px!important;
  text-align: justify;
  color: #fff;
  margin-bottom: 5%!important;
}
.line-div-seta{
  margin-right: 40%;
  margin-top: 03%;

}
.line-div-sectitle{
  display: flex;

}

.line-title-form-longtitle{
  display: flex;
  gap: 10px;
  margin-left: 2%;
  margin-top: -09%;
  width: 80%;
  font-family: 'BancoDoBrasilTextos-Medium', sans-serif;
  font-size: 35px!important;
  text-align: left;
  color: #FCFC30;
}

.line-form_ratio{
  margin-top: 2%;
  margin-left: 12.5%;
  height: 50%!important;
  width: 80%;
  background-color: #2B43CC!important;
  color: #bbb3ff!important;
  border-radius: 10px;
}

.line-form_ratio .v-label {
  color: white !important;
  font-style: bold!important;
  margin-top: 1%;
  font-family: 'BancoDoBrasilTextos-Bold', sans-serif !important; /* Cor branca para o label */
}

.line-form_ratio:first-child{
  margin-top: 5%;
}

.line-textfield{
  border-bottom: #FCFC30 2px solid;
}
/* ================ RESULTADOS ================ */

.line-container_resultados{
  background-color: #465EFF!important;
  margin-top: 10%;
  padding: 5%;
}
/* ================ SVG ===================== */

.arrow-right-svg{
  margin-left: 15%;
  margin-right: -5%;
  width: 16%;
  height: 1%;
  color: #465EFF !important;
}

.arrow-left-svg{
  position: relative;
  text-align: left;
  margin-top: 1%;
  margin-left: -20%;
  margin-right: -20%;
  width: 50%;
  height: 15%;
}

.arrow-left-svg-2{
  position: relative;
  text-align: left;
  width: 40px!important;
  height: 20px !important; 
 /* Manter a proporção */
  cursor: pointer;
}
.arrow-left-svg-3 {
  width: 40px; /* Ajuste o tamanho da seta conforme necessário */
  height: auto; /* Manter a proporção */
  cursor: pointer; /* Para indicar que é clicável */
}
