/* ============= HEADER ============ */

.opera-header{
	background-color: #FCFC30!important;
}
  
.opera-logo{
  max-width: 68px!important;
}

.opera-linha_preta_vertical{
  height: 60%;
  background-color: #000;
  width: 1px;
}
  
.opera-titulo_nav_bar {
	color: #465EFF;
	font-size: 24px;
	margin-left: 10px;
	font-weight: bold;
}

/* ================ BOTOES ============== */

.opera-buttongeral{
	color: #465EFF!important;
	border-radius: 80px;
}

.opera-button_tipos{

	/* margin-left: 80px; */

	/* align-items: right ; */

	color: #465EFF!important;

	/* width: 200px;

	height: 200px; */
	
	background: none; 

	border: none;
	
}

  /* Precisa ter outra classe pra dimensionar os buttons aí*/
.opera-buttongeral:hover{
	background-color: #465EFF;
	border-radius: 80px;
	color: #FFF!important;
}
.opera-btn-confirm{
	width: 100%!important;
	bottom: 80%;
	background-color:#3D5AFF;
	color: #FCFC30!important;
	font-size: 100%;
	text-align: center;
	border-radius: 10px;
}
/* ================ Imgs ============== */

.opera-img_saque{

	justify-items: space-between;

	width: 183px;

	height: 157px;

	gap: 0px;

	opacity: 0px;

	border-color: #E3E7FF!important;

	background-color: #E3E7FF!important;

	margin-top:  -8.5%;
}
.opera-img_deposito{

	width: 100%;

	height: 100%;
	
}
.opera-img_transferencia{

	width: 100%;

	height: 100%;

}

.opera-img_historico{

	width: 100%;

	height: 100%;

	margin-top: 25%;

}

/* ===================== BODY ================== */

.opera-text_saldo{
	display: flex;
	margin-top: 50px;
	justify-content: center;
	color: #2e3192 !important;;
	font-size: 30px;
	font-weight: 700;
	line-height: 34.05px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}

.opera-item {
	display: flex;
	flex-direction: column; 
	align-items: center;
	align-self: center; 
	text-align: center; 
	gap: 02px;
  }

  .opera-yellowline { 
    position: relative; /* Define o contexto para o ::after */
    font-size: 35px !important; 
    font-weight: bold;
    font-family: 'BancoDoBrasilTextos-Regular', sans-serif;
    color: #2e3192 !important;
    display: inline-block;
    margin-top: 5%;
    margin-left: 20%;
    line-height: 1.5; /* Ajusta o espaçamento vertical */
    background: transparent; /* Sem cor de fundo para o texto */
    z-index: 10; /* Certifica que o texto fique em uma camada superior */
}

.opera-yellowline::after {
    content: ''; /* Cria o pseudo-elemento */
    position: absolute; /* Posiciona em relação ao pai */
    bottom: 0; /* Posiciona a linha na parte inferior do texto */
    left: 0; /* Alinha à esquerda */
    height: 37%; /* Altura parcial da linha amarela */
    width: 100%; /* Largura total */
    background-color: #FCFC30; /* Cor amarela */
    z-index: 1; /* Fica abaixo do texto */
    mix-blend-mode: multiply; /* Combinação para evitar conflitos de exibição */
}
.opera-div-icons{
	display: flex;
	justify-items: space-between;

}



.opera-container_main{
	margin-top: 3%;
	width: 70%;
	height: 50.5%;
	background-color: #E3E7FF !important;
	border-radius: 35px;
	

}

.opera-coluna_um{
	display: flex;
	justify-items: space-between;
	height: 263px;
}

.opera-container_operacoes{

	height: 100%;
	width: 100%;	
}

.opera-div_saudacao{
	font-size: 2em;
}

.opera-div_operacoes{
	display: flex; 
	justify-content: space-between; 
	align-items: center; 
	width: 100%; 
	margin: 0 auto;
	padding: 20px; 
	gap: 90px; 
	margin-left: -15%;
}

.opera-dialog_operacao_selecionada{
	width: 40%;
	margin-inline: auto!important;
	height: 500px; /* antes estava em 450. */
	border-radius: 50px!important;
	flex-direction: column; /* Para organizar os elementos verticalmente */
	display: flex;
	align-items: center;    /* Centraliza horizontalmente */
	justify-content: center;
}
.opera-dialog_operacao_selecionada_hist{
	width: 60%;
	margin-inline: 20%!important;
	height: 500px; /* antes estava em 450. */
	border-radius: 50px!important;
	flex-direction: column; /* Para organizar os elementos verticalmente */
	display: flex;
	align-items: left;   /* Centraliza horizontalmente */
	justify-content: center;
}

.opera-title-operacao-selecionada-saque{
	margin-top: -9%;
	margin-left: 10%;
	text-align: center;
	color: #2e3192 !important;
	font-size: 34px;
	font-family: 'BancoDoBrasilTextos-Bold', sans-serif !important;

}

.opera-title-operacao-selecionada-deposito{
	margin-top: -9%;
	margin-left: 15%;
	text-align: center;
	color: #2e3192 !important;
	font-size: 34px;
	font-family: 'BancoDoBrasilTextos-Bold', sans-serif !important;
}
.opera-title-operacao-selecionada-transferencia{
	margin-top: -10%;
	margin-left: 10%;
	text-align: center;
	color: #2e3192 !important;
	font-size: 34px;
	font-family: 'BancoDoBrasilTextos-Bold', sans-serif !important;

} 

.opera-title-operacao-selecionada-hist{
	margin-top: -5%;
	margin-left: 11%;
	text-align: left;
	color: #2e3192 !important;
	font-size: 34px;
	font-family: 'BancoDoBrasilTextos-Bold', sans-serif !important;

}

.opera-textfield{
	margin-top: -18%;
	justify-self: center;
	width: 100%!important;
	border-bottom: #2e3192;
}
.opera-cardtext{
	text-align: center;
	color: #2e3192!important;
	font-style: bold;
	font-size: 20px;
	font-family: 'BancoDoBrasilTextos-Medium', sans-serif!important;
}
.opera-cardtext-saldos{
	margin-top: -5%;
	text-align: center;
	color: #2e3192!important;
	font-size: 20px!important;
	font-family: 'BancoDoBrasilTextos-Medium', sans-serif!important;
}
.opera-cardtext-saldos-hist{
	text-align: left;
	color: #2e3192!important;
	font-size: 16px!important;
	font-size: 20px!important;
	font-family: 'BancoDoBrasilTextos-Medium', sans-serif!important;
}
.opera-cardtext-desac{
    text-align: center;
	color: #2e3192!important;
	font-size: 20px!important;
	font-family: 'BancoDoBrasilTextos-Bold', sans-serif!important;
	line-height: 28px;

	margin-top: -5%;
}
.opera-cardtext-qnt{
	margin-top: -5%;
	text-align: left;
	color: #2e3192!important;
	font-size: 20px!important;
	font-family: 'BancoDoBrasilTextos-Medium', sans-serif!important;
}
.opera-cardtext-contacorrente{

	text-align: left;
	color: #2e3192!important;
	font-size: 20px!important;
	font-family: 'BancoDoBrasilTextos-Medium', sans-serif!important;
	margin-top: -05%;
}
.opera-cardtext-contacorrente::after{
	content: ''; /* Cria o pseudo-elemento */
    position: absolute; /* Posiciona em relação ao pai */  /* Posiciona a linha na parte inferior do texto */
	top: 44%;
    left: 02%; /* Alinha à esquerda */
    height: 01%; /* Altura parcial da linha amarela */
    width: 14%; /* Largura total */
    background-color: #FCFC30; /* Cor amarela */
    z-index: 2; /* Fica abaixo do texto */
    mix-blend-mode: multiply;
}
.opera-texto-desc-saque{
	font-family: 'BancoDoBrasilTextos-Bold', sans-serif !important;
	font-size: 20px;
	font-weight: 700;
	line-height: 27.24px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	width: 72px;
	height: 27px;
	color:  #2E3192;

}
.opera-texto-desc-deposito{
	font-family: 'BancoDoBrasilTextos-Bold', sans-serif !important;
	font-size: 20px;
	font-weight: 700;
	line-height: 30.4px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

	color: #2E3192 !important;
}
.opera-texto-desc-transf{
	font-family: 'BancoDoBrasilTextos-Bold', sans-serif !important;
	font-size: 20px;
	font-weight: 700;
	line-height: 27.24px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color:  #2E3192;
}


.opera-form-textfield{
	display: flex;
	gap: 5%;
}
.opera-texto-desc-historico{

	width: 185px;
	height: 54px;
	/* top: 582px;
	left: 1138px;
	gap: 0px;
	opacity: 0px; */

	font-family: 'BancoDoBrasilTextos-Bold', sans-serif !important;
	font-size: 20px;
	font-weight: 700;
	line-height: 27.24px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;

	color: #2E3192 !important;
}
/* ================= FOOTER ================ */


.opera-footer {
	position: relative; 
	bottom: 0; 
	width: 100%; 
	display: flex; 
	flex-direction: column; 
	margin-top: 50px; 
  }
  
  .opera-footer-amarelo {
	background-color: #fcfc30; /* Cor de fundo amarela */
	width: 105%; /* Largura total */
	height: 50px; /* Altura da parte amarela */
	display: flex; /* Usar flexbox para organização */
	justify-content: space-between; /* Espaçamento entre os elementos */
	align-items: center; /* Centralizar os itens verticalmente */
	padding: 0 5%; /* Espaçamento interno */
  }
  .opera-footer-azul {
	background-color: #465EFF!important;
	width: 105%; 
	height: 202px; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	color: #fff; 
  }
  /* Estilo para o texto */
  .opera-texto-footer-location {
	color: #000; 
	font-weight: bold; 
	font-size: 14px; 
	text-align: left; 
	margin-left: 5%;
  }

  .opera-texto-footer-priv{
	margin-left: 05%;
	background: transparent;
	margin-bottom: 22%;
  }
  .opera-texto-footer-help{
	background: transparent;
	margin-left: 05%;
	margin-bottom: 22%;
  }
  .opera-footer-button-group {
	display: flex;
	height: 0;
	align-items: center;
  }
  .opera-footer-column{
	display: inline;
	margin-right: 10%;
  }
  .opera-footer-column2{
	display: inline;
	margin-right: 10%;
  }
  .opera-footer-column3{
      display: inline;
	  margin-right: 10%;
  }
  .p-title-text{
	font-size: 16px;
	line-height: 18.16px;
  }
  .p-sub-text{
	font-size: 20px;
	line-height: 23.2px;
  }
  
  /* ================= SVG ================ */
  .bb-icon-opera {
	width: 50px; 
	height: 50px;
	margin-left: -12.5%;
	margin-right: 7.5%;
  } 

  .opera-eye-footer{
	margin-bottom: 20%;
	margin-left: 250%;
	width: 30px;
	height: 30px;	
  }

  .opera-help-footer{
	margin-bottom: 20%;
	margin-left: 365%;
    width: 30px; 
	height: 30px;
  }

  .opera-cash-icon{
	margin-left: 37%;
	margin-top: 3%;
	width: 65px;
  }
  .opera-cash-icon-transf{
	margin-left: 26%;
	margin-top: 15%;
	width: 65px;
  }
  .opera-cash-icon-hist{
	margin-left: 5%;
	margin-top: 2%;
    width: 65px;
  }
  .acess-icon-opera{
      width: 108px;
	  height: 45px;
  }

  /* =================== Fonts =================== */

  @font-face {
	font-family: 'BancoDoBrasilTextos-Bold';
	src: url('@/assets/fonts/BancoDoBrasilTextos-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'BancoDoBrasilTextos-Medium';
	src: url('@/assets/fonts/BancoDoBrasilTextos-Medium.ttf') format('truetype');
	font-weight: 500; 
	font-style: normal;
  }
  
  @font-face {
	font-family: 'BancoDoBrasilTextos-Regular';
	src: url('@/assets/fonts/BancoDoBrasilTextos-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }