.simul-container-main{
  margin-top: 50px;
  background-color:#FFF;
  background-image: url('@/images/Invest_women.png');
  background-size: 100%;
}
/* ================= HEADER ================= */
.simul-header{
  background-color: #FCFC30!important;
}

.simul-logo{
  max-width: 68px!important;
}

.simul-linha_preta_vertical{
  height: 60%;
  background-color: #000;
  width: 1px;
}

.simul-titulo_nav_bar {
  color: #465EFF;
  font-size: 24px;
  margin-left: 10px;
  font-weight: bold;
}

.text_headertext{
  color: #fcfc30 !important;
  font-size: 30px;
  font-weight: bold;
  width: 521px;
  height: 85px;
  top: 324px;
  margin-left: 15%;
  
}
.text_homesim{
  color: #fcfc30 !important;
  margin-left: 15%;
  margin-top: 5%;
  width: 512px;
}
.text_descyellow{
  color:#FCFC30;
  margin-left: 15%;
  font-size: 20px;
  height: 10px;
}
.text_descwhite{
  display: inline-flex;
  color: #FFF;
  margin-left: 15%;
  margin-top: 7.5%;
  width: 25%;
}
.text_descwhite2{
  color: #FFF;
  margin-left: 45%;
  margin-top: 13%;
}
/* ================ BOTOES ============== */
.simul-buttongeral{
    color: #465EFF!important;
    border-radius: 80px;
}

.simul-buttongeral:hover{
  background-color: #465EFF;
  border-radius: 80px;
  color: #FFF!important;
}

/* =================== BODY ================== */

.simul-card_info_topo{
  margin-top: 50px!important;
  font-size: 40px;
  color: #465EFF;
}

.simul-info_preench{
  color: #000;
  font-size: 20px;
  font-style: bold;
  height: 92px;
  margin-left: 20px;
  margin-bottom: 10px;
  
}
.simul-card{
  background-color: #FFF!important;
}

.simul-coluna_formulario{
  min-height: 450px!important;
}

.simul-card_result{
  background-color: #677AFC ;
  color: white;
  font-size: 1.2em;
  height: 75%!important;
}

.simul-valor_bruto_dialog{
  color: #30fc41;
  font-size: 1.5em!important;
  font-weight: bold;
}

.simul-card_pos_form

.simul-card_tesouro_dir{
  min-height: 100%!important;
}

.simul-titulo_card{
  font-weight: 400!important;
  color: #465EFF!important;
}

.simul-subtitulo_card{
  color: #465EFF;
  font-weight: 400!important;
}

.simul-texto_card{
  color: #000;
  font-weight: 400!important;
}

.simul-info_curta{
  background-color: #FCFC30!important;
}


.simul-campo_texto{
  background-color: #FFF;
  font-weight: 400!important;
  color: #000;

}

/* ================= FOOTER ================ */

.simul-footer{
  background-color: #FCFC30!important;
}

.simul-texto_footer{
  color: #465EFF;
  font-weight: bold;
  font-size: 20px;
}

.simul-container_grafico{
  background-color: #FFF!important;
  height: 475px;
  justify-self: right;
}

.simul-coluna_grafico{
  background-color: #fff;
  height: 505px;
  margin-top: 15px;
}


.simul-card_selic{
  height: 235.56px!important;
}