.container-man{
  background-color: #465EFF;
  /* background-image: url('src/images/imagem-investimentos.png'); */
  background-image: url(https://media.discordapp.net/attachments/1283447318984786005/1292634798464176148/imagem-investimentos.png?ex=67051c37&is=6703cab7&hm=bcd30aaefcb4e243a90b58c58176b92c47ca0b03867edc2a13055290efd4197b&=&format=webp&quality=lossless&width=674&height=394);
  background-size: 100%;
}

.header{
  background-color: #FCFC30!important;
}

.logo{
  display: flex;
  justify-content: center;
  width: 100px;
  height: auto;
}

.titulo_nav_bar {
  color: #465EFF;
  font-size: 24px;
  margin-left: 10px;
  font-weight: bold;
}

.buttongeral{
    color: #465EFF!important;
}

.buttongeral:hover{
  background-color: #465EFF;
  color: #FFF!important;
}

.card{
  background-color: #FFF!important;
}

.titulo_card{
  color: #465EFF;
  font-weight: 400!important;
}

.subtitulo_card{
  color: #465EFF;
  font-weight: 400!important;
}

.texto_card{
  color: #465EFF;
  font-weight: 400!important;
}

.info_curta{
  background-color: #FCFC30!important;
}

.campo_texto{
  background-color: #FFF;
  font-weight: 400!important;
  color: black;

}

.footer{
  background-color: #FCFC30!important;
}

.texto_footer{
  color: #465EFF;
  font-weight: bold;
  font-size: 20px;
}