.simul-container-main{
  margin-top: 50px;
  background-color:#465EFF;
  background-image: url('@/images/imagem_investimentos.jpg');
  background-size: 100%;
}
/* ================= HEADER ================= */
.simul-header{
  background-color: #FCFC30!important;
}

.simul-logo{
  max-width: 68px!important;
}

.simul-linha_preta_vertical{
  height: 60%;
  background-color: #000;
  width: 1px;
}

.simul-titulo_nav_bar {
  color: #465EFF;
  font-size: 24px;
  margin-left: 10px;
  font-weight: bold;
}

/* ================ BOTOES ============== */
.simul-buttongeral{
    color: #465EFF!important;
}

.simul-buttongeral:hover{
  background-color: #465EFF;
  color: #FFF!important;
}

/* =================== BODY ================== */
.simul-card_info_topo{
  margin-top: 515px;
}

.simul-card{
  background-color: #FFF!important;
}

.simul-caixa_dialog_result /* não altera nada, analisar! */

.simul-valorBrutoDialog /* não altera nada, analisar */

.simul-card_pos_form

.simul-card_tesouro_dir{
  min-height: 100%!important;
}

.simul-titulo_card{
  color: #465EFF;
  font-weight: 400!important;
}

.simul-subtitulo_card{
  color: #465EFF;
  font-weight: 400!important;
}

.simul-texto_card{
  color: #465EFF;
  font-weight: 400!important;
}

.simul-info_curta{
  background-color: #FCFC30!important;
}


.simul-campo_texto{
  background-color: #FFF;
  font-weight: 400!important;
  color: #000;

}

/* ================= FOOTER ================ */

.simul-footer{
  background-color: #FCFC30!important;
}

.simul-texto_footer{
  color: #465EFF;
  font-weight: bold;
  font-size: 20px;
}

.simul-container_grafico{
  background-color: #FFF!important;
  height: 475px;
  justify-self: right;
}

.simul-coluna_grafico{
  background-color: #FFF!important;
  height: 505px;
  margin-top: 15px;
}


.simul-card_selic{
  height: 235.56px!important;
}
